<div id="about">
  <!-- SVG Decorative Element -->
  <img class="dotsvg" src="assets/dotsvg.svg" alt="Decorative SVG">

  <!-- Left-side Text -->
  <div class="left-text">
    <h1>About Me</h1>
    <h2>My name is Nikita, and I am a dedicated software engineer with a strong passion for building innovative solutions.
       Over the years, I have developed a diverse and dynamic portfolio. Feel free to explore my work on GitHub!
    </h2>
  </div>

  <!-- Right-side Text -->
  <div class="right-text">
    <h1>Experience</h1>
    <h2>
      I have extensive experience in a wide range of programming languages and technologies,
       including Angular, JavaScript, Solidity, Python, and C#. My expertise spans across full-stack, AI and blockchain,
    </h2>
  </div>
</div>
