<div id="projects" class="section">
  <img class="blocksvg" src="assets/ETHSVGG.svg" alt="block SVG">

  <div class="container">
    <div class="title">
      <h1>Throughout my career,</h1>
    </div>
<div class="projects">
  <p>
    I have developed a diverse range of products,
    including AI training systems, blockchain solutions on Ethereum, and various web applications.
  </p>
  <p>
    Over the past year, I have specialized in training drone-based computer vision systems using YOLO (v8 through v10),
    developing and fine-tuning three production-ready models for autonomous drone applications.
  </p>
  <p>
    Currently, I specialize in crafting and optimizing blockchain products, leveraging my expertise
    in Ethereum to build secure and scalable decentralized applications.
  </p>
  <p>
    In addition to my blockchain work, I have experience in designing and implementing intuitive user interfaces, 
    applying UI/UX principles. My proficiency in JavaScript, along with frameworks such as Angular, enhances my ability 
    to build responsive and dynamic front-end solutions.
  </p>
  <p>
    My technical skills extend to Python and Django, enabling me to create robust back-end systems that support a wide
    range of functionalities.
  </p>
  <p>
    Whether working independently or as part of a team, I am dedicated to delivering high-quality
    software that drives business success and meets the evolving needs of the digital landscape.
  </p>
</div>
