<div class="example"></div>

<div class="home-container">
  <div class="right-square"></div>
  <div class="left-square"></div>
  <div class="extra-square"></div>
  <div id="wrapper">
    <!-- Your header and home content goes here -->
    <app-header></app-header>
    <app-home></app-home>
    <!-- Add other components as needed -->
  </div>
</div>

<!-- About Me section outside of the wrapper -->
<app-about-me></app-about-me>
<app-projects></app-projects>
<app-contact></app-contact>
<app-sticky-nav></app-sticky-nav>
